<p>courses-table works!</p>

<div class="container">
    <table class="table table-bordered text-center">
      <thead>
        <tr>
          <th>index</th>
          <th>description</th>
          <th>img</th>
          <th>longDescription</th>
          <th>lessonsCount</th>
          <th>category</th>
          <th  style="width: 228px;">Action</th>
        </tr>
      </thead>
      <tbody>
        @for (course of AllCourses; track course 
           ;let index= $index
           ;let count = $count
           ;let even=$even
           ;let odd =$odd) {
          <tr >
            <td>{{index}}+{{count}}+{{even}}+{{odd}}</td>
            <td>{{course.description}}</td>
            @if (course.iconUrl) {
              <td><img style="width: 14%;" src={{course.iconUrl}} alt=""></td>
              
            }@else{
              
              <td><span>no image</span></td>
            }
            <td>{{course.longDescription}}</td>
            <td>{{course.lessonsCount}}</td>
            <td [ngClass]=" course.category=='BEGINNER'?'beginner':'' ">{{course.category}}  </td>
            <td >
              <button type="button" class="btn btn-outline-success" (click)="ViewCourse(course)" >View</button> &nbsp;
              <button type="button" class="btn btn-outline-warning">Edit</button> &nbsp;
              <button type="button" class="btn btn-outline-danger">Delete</button>
            </td>
          </tr>
          
        }
        @empty {
          no data
        }
        
      
      </tbody>
    </table>
  </div>
